apiVersion: apps/v1
kind: Deployment
metadata:
  name: pyapp
  labels:
    app: py
spec:
  replicas: 2
  selector:
    matchLabels:
      app: py
  template:
    metadata:
      labels:
        app: py
    spec:
      containers:
      - name: flask-app
        image: srirammk18/py-db:2
        imagePullPolicy: Always
        ports:
        - containerPort: 5000
        env:
        - name: MYSQL_ROOT_PASSWORD
          value: root
        - name: MYSQL_DATABASE
          value: MyDB
